<!Doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TopPage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <style>
        @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

        .background-banner {
            background-image: linear-gradient(45deg,
                    rgb(51 43 43 / 75%),
                    rgb(20 19 20 / 61%)), url(" ");
            max-height: 100%;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

    </style>

    <script>
        // 스크롤 이동 기능
        // 클래스, 아이디 값을 인자로 받아 offsetTop 밸류 초기화
        // 초기화된 offsetTop 값을 위치로 이동
        function goToScroll(name) {
            var location = document.querySelector("." + name).offsetTop;
            window.scrollTo({top: location, behavior: 'smooth'});
        }
    </script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body data-bs-theme="dark">
    <div class="">
        <div class="row row-cols-1 row-cols-md-3 g-3 mx-auto w-75 pb-5" style="padding-top: 250px">
            <div class="col" style="padding-right: 20px">
                <div class="card h-100">
                    <img src="https://s3.ap-northeast-2.amazonaws.com/materials.spartacodingclub.kr/webjong/ive.jpg"
                        class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col" style="padding-right: 20px">
                <!-- Button trigger modal -->
                <button onclick="goToScroll('notic-scroll')" type="button" data-bs-target="#exampleModal">
                <div class="card h-100">
                    <img src="https://s3.ap-northeast-2.amazonaws.com/materials.spartacodingclub.kr/webjong/ive.jpg"
                        class="card-img-top" alt="...">
                </div>
                </button>
            </div>
            <div class="col" style="padding-right: 20px">
                <!-- Button trigger modal -->
                <button type="button" class="" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <div class="card h-100">
                    <img src="https://s3.ap-northeast-2.amazonaws.com/materials.spartacodingclub.kr/webjong/ive.jpg"
                        class="card-img-top" alt="...">
                </div>
                </button>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">게시글 작성</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">제목</label>
                                <input type="text" class="form-control" id="exampleInputPassword1">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">내용</label>
                                <textarea style="height: 300px" input type="text" class="form-control" id="exampleInputPassword1">
                                </textarea>
                            </div>
                            <button type="submit" class="btn btn-danger">작성</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-md-4 g-4 mx-auto w-75 pb-5" style="padding-top: 600px">
            <div class="col" style="height: 100px flex">
                <div class="notic-scroll">
                    <div class="card h-100">
                        <div class="card-body">
                        <h5 class="notice-title">title</h5>
                        <p class="notice-contents" style="overflow:scroll;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">수정</a>
                        <a href="#" class="btn btn-primary">삭제</a>
                        <a href="#" class="btn btn-primary">댓글 작성</a>
                            <div class="comment-area" style="overflow:scroll; height:300px">
                            <p class="comment-contents" style="padding-top: 20px">댓글 1</p>
                            <p class="comment-contents">댓글 2댓글 2댓글 2댓글 2댓글 2댓글 2댓글 2댓글 2댓글 2댓글 2</p>
                            <p class="comment-contents">댓글 3</p>
                            <p class="comment-contents">댓글 4</p>
                            <p class="comment-contents">댓글 6</p>
                            <p class="comment-contents">댓글 7</p>
                            <p class="comment-contents">댓글 8</p>
                            <p class="comment-contents">댓글 9</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>       
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous">
    </script>
</body>

</html>